<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-googleplaces-autocomplete"
        version="1.0.1">

    <name>Google Places Autocomplete</name>
    <description>Non-UI Autocomplete via Google Places for iOS</description>
    <license>MIT</license>
    <keywords>cordova, google places, autocomplete, ios</keywords>

    <engines>
        <engine name="cordova" version=">=10.0.0" />
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="GMPlacesAutocomplete">
                <param name="ios-package" value="GMPlacesAutocomplete"/>
            </feature>
            <preference name="deployment-target" value="15.0" />
        </config-file>

        <header-file src="src/ios/GMPlacesAutocomplete.h" />
        <source-file src="src/ios/GMPlacesAutocomplete.m" />

        <podspec>
            <pods use-frameworks="true">
                <pod name="GooglePlaces" spec="~> 9.2.0" />
            </pods>
        </podspec>
    </platform>

    <js-module src="www/GooglePlacesAutocomplete.js" name="GooglePlacesAutocomplete">
        <clobbers target="plugin.google.places" />
    </js-module>
</plugin>
